<div class="footer-top border-bottom pt--70 pb--65 pb-sm--60">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-md--35">
          <div class="footer-widget">
            <div class="textwidget mb--21">
              <figure class="footer-logo">
                <a href="index.html">
                  <img src="assets/img/logo/gsplogo2.png" alt="Logo" />
                </a>
              </figure>
            </div>
          </div>
          <div class="footer-widget">
            <div class="newsletter-form-widget">
              <p>
                Descubre nuevas perspectivas y oportunidades ilimitadas
                para tu empresa junto a GSP S.A.C., tu socio de confianza
                en el camino al liderazgo
              </p>
              <!-- <form
                action="https://company.us19.list-manage.com/subscribe/post?u=2f2631cacbe4767192d339ef2&amp;id=24db23e68a"
                method="post" name="mc-embedded-subscribe-form" class="newsletter-form mc-form">
                <input type="email" name="newsletter_email" class="newsletter-form__input"
                  placeholder="Enter Your Email">
                <button type="submit" class="newsletter-form__btn">Subscribe</button>
              </form>
              <div class="mailchimp-alerts">
                <div class="mailchimp-submitting"></div>
                <div class="mailchimp-success"></div>
                <div class="mailchimp-error"></div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-5 offset-md-1 mb-md--35 mb-sm--25">
          <div class="footer-widget">
            <h3 class="widget-title mb--35 mb-sm--20">Visita</h3>
            <div class="footer-widget">
              <ul class="footer-menu">
                <li>
                  <a href="pages/nosotros/about-us.html">Nosotros</a>
                </li>
                <li>
                  <a href="pages/servicios/services.html">Servicios</a>
                </li>
                <li>
                  <a href="pages/proyectos/our-projects.html">Proyectos</a>
                </li>
                <li><a href="pages/blog/blog.html">Novedades</a></li>
                <li><a href="pages/contacto/contact.html">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-7 mb-sm--30">
          <div class="footer-widget">
            <h3 class="widget-title mb--35 mb-sm--20">Servicios</h3>
            <div class="footer-widget">
              <ul class="footer-menu">
                <li>
                  <a href="./pages/servicios/empresas.html">Empresas</a>
                </li>
                <li>
                  <a href="./pages/servicios/familia.html">MYPES y Familias</a>
                </li>
                <li>
                  <a href="./pages/servicios/logística.html">Logística</a>
                </li>
                <li>
                  <a href="./pages/servicios/outsourcing.html">Outsourcing</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-5">
          <div class="footer-widget">
            <h3 class="widget-title mb--35 mb-sm--20">Síguenos</h3>
            <div class="footer-widget">
              <ul class="footer-menu">
                <!-- <li class="list-inline-item text-uppercase"><a href="#"><i class="fi fi-brands-instagram"></i></a>
                </li>
                <li class="list-inline-item text-uppercase"><a href="#"><i class="fi fi-brands-facebook"></i></a>
                </li> -->
                <li class="list-inline-item text-uppercase "><a href="https://www.linkedin.com/company/gabriel-solutions-peru-sac/"><i
                  class="fi fi-brands-linkedin "></i></a></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom ptb--17">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="copyright-text">
            &copy; GSP S.A.C | Elaborado con
            <i class="fa fa-heart"></i> por MauricioA
          </p>
        </div>
      </div>
    </div>
  </div>